<!doctype html>
<html class="headerabout">
    <head>
        <meta charset="UTF-8">
        <title>Med's</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
    <header >
            <div class="wrapper">
                <div class ="logo">
                    <img src="images/logo.png" alt="">
                </div>
                <ul class="nav-area">
                    <li><a href="index.html" >home</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="services.html">services</a></li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a href="login.html">login</a></li>
                    <li><a href="register.html">register</a></li>
                </ul>
            </div>
            <div class="welcome-text">
                <h1>About us</h1>
                <p>We typically offer a platform that incorporates questions about medical insurance and healthcare using conversational AI.</p>
                <p>The chatbot offers a tailored response to the particular questions posed by the clients. </p>
                <p>This platform's overarching objective is to provide consumers with a simple and effective means to obtain the necessary healthcare and medical insurance-related information and services via a conversational interface.</p>

               
            </div>    
            </header>
    </body>