<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Med's</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <header>
            <div class="wrapper">
                <div class ="logo">
                    <img src="images/logo.png" alt="">
                </div>
                <ul class="nav-area">
                    <li><a href="index.html" >home</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="services.html">services</a></li>
                    <li><a href="login.html">login</a></li>
                    <li><a href="register.html">register</a></li>
                </ul> 
            </div>
            <div class="welcome-text">
                <h1>MED'S A Healthcare and Medical Insurance Assist</h1>
                <p class="contact" ><a href="contactus.html" >Contact Us</a><p>
            </div>    
            </header>
    </body>