*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1170px;
    margin: auto;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #060606;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 14px;

}
.nav-area li a:hover{
    background: #afd213;
    color: #333;
}
.logo img{
    width: 70px;
    float:left;
    height:auto;
}

header{
    background-color: white;
    height: 70px;
}
